/**
 * Site header
 */

.site-header-pusher {
 height: 100vh;
 z-index:0;
 width:100%;

 // Positioning context for the mobile navigation icon
 position: relative;
}

.site-header {
  min-height: 100vh;
  width:100%;
  background-color: #0d0d0d;
  background-image: radial-gradient(circle, #000 15%, transparent 10%), radial-gradient(circle, #000 15%, transparent 10%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
  z-index:1;
  position:fixed;
  top:0;
}

.site-title {
  height: 40vh;
  display: grid;
  font-size: 28px;
  line-height: 80px;
  letter-spacing: -1px;
  margin: 0;
  align-items: end;
  justify-items: center;
  color:#fff !important;

  &,
  &:visited {
  }
}

.site-paren {
  width: 80vw;
  display: grid;
  place-items: center;
}

.site-dia {
  width: 70vw;
  display: grid;
  place-items: center;
}

.site-nav {
  float: right;
  line-height: 80px;
  z-index:2;

  .menu-icon {
    display: none;
  }

  .page-link {
    color:#fff !important;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
}


  .page-link:hover {
    color:#FFC400;
    text-decoration:none !important;
  }


/**
 * Site footer
 */
.site-footer {
  background-color: #0d0d0d;
  background-image: radial-gradient(circle, #000 15%, transparent 10%), radial-gradient(circle, #000 15%, transparent 10%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  padding: $spacing-unit 0;
  position:relative;
  z-index:5;
}

.footer-heading {
  font-size: 18px;
  @media only screen and (max-width: 1000px) {
    font-size:16px;
  }
  margin-bottom: $spacing-unit / 2;
  position:relative;
  z-index:5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
  @media only screen and (max-width: 1000px) {
    font-size:12px;
  }
}

.footer-col-wrapper {
  font-size: 16px;
  color: $grey-color;
  margin-left: 0;
  @extend %clearfix;
  position:relative;
  z-index:5;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
  position:relative;
  z-index:5;
}

.footer-col-1 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
  position:relative;
  z-index:5;
}

.footer-col-2 {
  float:right;
  text-align:right;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
  position:relative;
  z-index:5;
}


/**
 * Page content
 */
.page-content img {
  max-width:85%;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts - Useful for blog

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 28px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
*/
/*
 * Browse Cells
 */
.browse {
  font-size:14px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}

.info {
  font-size:20px;
  color:#aaa;
  padding-top:10px;
}

.browse .video-cell {
  position:relative;
  width:100%;
  height:0;
  padding-bottom:56.25%;
  margin-top:5px;
  overflow:hidden;
}

.browse .browse-section {
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align:middle;
  width:100%;
  height:100%;
  overflow:hidden;
}

.browse .browse-text a {
  color:#000000 !important; /* #fff */
}

.browse .browse-text {
  display:inline-block;
  margin:0;
  padding:0;
  position:absolute;
  vertical-align:middle;
  padding-top:60px;
  margin-right:5%;
  right:0;
  top:0;
  width:320px;
  text-align:left;
  font-size:16px;
  color:#000000 !important; /* #fff */
  opacity:0;
  transition:opacity 0.6s;
  transition:color 0.6s;
  h2 {
    color:#000000 !important;
    transition:color 0.6s;
    @media only screen and (max-width: 1000px) {
     color:#fff !important;
   }
  }

  @media only screen and (max-width: 1000px) {
    font-size:14px;
    padding-top:20px;
    width:240px;
    color:#fff !important;
    opacity:1;
  }

  @media only screen and (max-width: 600px) {
    font-size:12px;
    padding-top:10px;
    width:160px;
    margin-right:5px;
    color:#fff!important;
    opacity:1;
  }
}

.browse .browse-label {
  display:inline-block;
  margin:0;
  padding:0;
  position:absolute;
  vertical-align:middle;
  padding-top:60px;
  margin-left:5%;
  left:0;
  top:0;
  width:320px;
  text-align:left;
  font-size:16px;
  color:#000000 !important; /* #fff */
  opacity:0;
  transition:opacity 0.6s;
  transition:color 0.6s;
 
  @media only screen and (max-width: 1000px) {
    font-size:14px;
    padding-top:20px;
    width:240px;
    color:#fff !important;
    opacity:1;
  }

  @media only screen and (max-width: 600px) {
    font-size:12px;
    padding-top:10px;
    width:160px;
    margin-right:5px;
    color:#fff!important;
    opacity:1;
  }
}

.row:hover .browse-text {
  opacity:1.0;
  color:#fff !important; /* delete if don't want to change color on hover */
  h2 {
    color:#fff !important;
  }
}

.row:hover .browse-label {
  opacity:1.0;
  color:#fff !important; /* delete if don't want to change color on hover */
}

.browse .row-container {
  height:75vh;
  @media only screen and (max-width: 1000px) {
    height:300px;
  }

  @media only screen and (max-width: 600px) {
    height:175px;
  }
}

.browse .row {
  height:75vh; /* 320px default*/
  width:100%;
  box-shadow: 0px 0px 13px rgba(255,255,255,0.3);
  position:relative;
  z-index:3;
  transition:background-color 0.6s;

  @media only screen and (max-width: 1000px) {
    height:300px;
  }

  @media only screen and (max-width: 600px) {
    height:175px;
  }
}

.browse .row.sticky {
  position: fixed;
  top:0;
}

.browse .row19 {
  background-color:desaturate(darken(#fcc860, 80%), 70%);
}

.browse .row19:hover {
  background-color:#fcc860;
}

.browse .row18 {
  background-color:desaturate(darken(##ffffff, 80%), 70%);
}

.browse .row18:hover {
  background-color:#ffffff;
}

.browse .row17 {
  background-color:desaturate(darken(#785e50, 80%), 70%);
}

.browse .row17:hover {
  background-color:#785e50;
}

.browse .row16 {
  background-color:desaturate(darken(#c9a479, 80%), 70%);
}

.browse .row16:hover {
  background-color:#c9a479;
}

.browse .row15 {
  background-color:desaturate(darken(#fab361, 80%), 70%);
}

.browse .row15:hover {
  background-color:#fab361;
}

.browse .row12 {
  background-color:desaturate(darken(#031B2D, 80%), 70%);
}

.browse .row12:hover {
  background-color:#031B2D;
}

.browse .row11 {
  background-color:desaturate(darken(#4A3921, 80%), 70%);
}

.browse .row11:hover {
  background-color:#4A3921;
}

.browse .row10 {
  background-color:desaturate(darken(#4A3921, 80%), 70%);
}

.browse .row10:hover {
  background-color:#4A3921;
}

.browse .row9 {
  background-color:desaturate(darken(#321E14, 80%), 70%);
}

.browse .row9:hover {
  background-color:#321E14;
}

.browse .row8 {
  background-color:desaturate(darken(#292221, 40%), 30%);
}

.browse .row8:hover {
  background-color:#292221;
}

.browse .row7 {
  background-color:desaturate(darken(#1C1E1B, 40%), 30%);

}

.browse .row7:hover {
  background-color:#1C1E1B;
}

.browse .row6 {
  background-color:desaturate(darken(#4C6764, 40%), 30%);
}

.browse .row6:hover {
  background-color:#4C6764;
}

.browse .row5 {
  background-color:desaturate(darken(#1A1822, 40%), 30%);
}

.browse .row5:hover {
  background-color:#1A1822;
}

.browse .row4 {
  background-color:desaturate(darken(#202020, 50%), 60%);
}

.browse .row4:hover {
  background-color:#202020;
}

.browse .row3 {
  background-color:desaturate(darken(#6E6A4F, 40%), 50%);
}

.browse .row3:hover {
  background-color:#6E6A4F;
}

.browse .row2 {
  background-color:desaturate(darken(#685B4D, 60%), 50%);
}

.browse .row2:hover {
  background-color:#685B4D;
}

.browse .row1 {
  background-color:desaturate(darken(#D0B197, 60%), 50%);
}

.browse .row1:hover {
  background-color:#D0B197;
}

.browse h2 {
  text-decoration:none;
  margin:0;
  padding:0;
  padding-bottom:15px;
  font-size:28px;
  color:#fff;
}

.browse .browse-section h2 {
  text-decoration:none;
  margin:0;
  padding:0;
  padding-bottom:15px;
  font-size:28px;
  color:#fff;

  @media only screen and (max-width: 1000px) {
    font-size:24px;
    padding-bottom:8px;
  }

  @media only screen and (max-width: 600px) {
    font-size:16px;
    padding-bottom:3px;
  }
}

.browse .browse-section a:hover {
  text-decoration:none;
  color:#fff;
}

.browse img {
  display:block;
  height:100%;
  float: left;
  max-width:none;
  @media only screen and (max-width: 512px) {
   position: relative;
   left: -50px;
  }
}

.background-image {
  position:absolute;
  left:0;
  right:0;
  top:0;
  margin-left:auto;
  margin-right:auto;
  z-index:-1;
}

.home a {
  text-decoration:none !important;
}

.tagline {
  width:360px;
  max-width:100%;
  text-align:left;
  padding-top:46px;

  @media only screen and (max-width: 655px) {
    width:300px;
  }
}

::selection {
  background: #555;
}
::-moz-selection {
  background: #555;
}

.faq-title {
  text-align:left;
}

.faq {
  margin-top:15px;
  margin-bottom:25px;
  text-align: left !important;
}

.faq-question {
  font-weight:bold !important;
  color:#2196F3;
}

.faq-answer {
  color:#dddddd;
  margin-left:10px;
  margin-bottom:10px;
}

.faq-answer p {
  padding:0;
  margin:0;
  padding-left:20px;
}

/*
 * Page Descriptions

.big-header {
  max-width:360px;
  font-size:30px;
  font-weight:100;
  color:#FFD740;
  display:inline-block;
}

.catch-phrase {
  display:inline-block;

  @media only screen and (max-width: 655px) {
    font-size:25px !important;
  }
}

.faq-title .catch-phrase {
  padding-left:30px;
  font-weight:bold;
  font-size:40px !important;
}

.screenshot-section {
  margin: 30px 0px;
  width:100%;
}

.screenshot-section img {
  max-width:992px;
  width:100%;
}

.description {
  overflow:auto;
  padding-top:5px;
  padding-bottom:5px;
  vertical-align: top;
}

.description img {
  margin-right:5px;
  margin-left:10px;
  overflow:visible;
  box-shadow: 0px 0px 3px rgba(33,33,33,0.7);
  float:right;
}

.division-bar {
  box-shadow: 0px 0px 5px rgba(0,0,0,1.0);
  margin: 0 -9999rem;
  margin-top: 30px;
  padding: 0.25rem 9999rem;
  background: #212121;
  overflow: auto;
  text-align: center;
  vertical-align: top;
}

.full-video {
  box-shadow: 0px 0px 3px rgba(33,33,33,0.7);
  border-radius:5px;
  overflow:visible;
}

.full-video {
  display:inline-block;
  position:relative;
}

.video-cell iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.iframe-container {
  width:100%;
}

.full-video iframe {
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  height:100%;
  border-radius:5px;
}
 */
